<div class="section">
    <header>
      <h1>Приветствую в Keycloak - Angular приложении!</h1>
      <h2 class="description">Это публичная домашнаяяя страница</h2>
    </header>
  
    <!-- <main>
      <section>
        <p class="description">Чтобы получить доступ воспользуйтесь следующими учётными данными</p>
        <ul class="credentials">
          <li>
            <strong>User:</strong> <code>qwe</code>
            <button class="copy-btn" (click)="copyToClipboard('qwe')" aria-label="Copy User">
              <i class="copy-icon">📋</i>
            </button>
          </li>
          <li>
            <strong>Password:</strong> <code>123</code>
            <button class="copy-btn" (click)="copyToClipboard('123')" aria-label="Copy Password">
              <i class="copy-icon">📋</i>
            </button>
          </li>
        </ul>
      </section>
  
      <div *ngIf="copyMessage$ | async as copyMessage" class="message-box">
        {{ copyMessage }}
      </div>
    </main>
  </div> -->
  